html {
overflow-y: scroll;
}

#topp .container-fluid, #innhold, #bunn {
margin: auto;
max-width: 1200px;
}

#innhold div h1, #innhold div h2 {
margin-top: 0;
}

h1 {
font-size: 25px;
font-weight: normal;
}

h2 {
font-size: 21px;
font-weight: normal;
}

p {
margin-top: 15px;
margin-bottom: 15px;
}

.borderless th, .borderless td {
border: none !important;
}

.histogram {
margin-top: 15px;
margin-bottom: 15px;
}

.histogram td {
padding-right: 10px;
text-align: center;
}

.histogram div {
//margin: auto;
width: 20px;
}

.histogram div:nth-child(1) {
display: table-cell;
vertical-align: bottom;
}

.histogram div:nth-child(2) {
color: #EEE;
background-color: #369;
}

.kalender_merke_bursdag, .kalender_merke_dinevakter, .kalender_merke_ledigevakter {
display: inline-block;
float: right;
width: 12px;
height: 12px;
border-radius: 6px;
}

.kalender_merke_bursdag {
background-color: #990;
}

.kalender_merke_dinevakter {
background-color: #090;
}

.kalender_merke_ledigevakter {
background-color: #009;
}